@import "tailwindcss";

@theme {
  --font-family: "Jost", sans-serif;
  --second-family: "Amatic SC", sans-serif;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #46a35820 transparent;

  -webkit-overflow-scrolling: touch;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;

  border-radius: 10px;

  border: 2px solid transparent;
  background-clip: content-box;

  transition: background-color 0.2s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #46a358;
}
